
<!DOCTYPE html 
    	 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style type="text/css">
		body {
			background-color: #264880;
			background-image: url("http://www.greatestjournal.com/palimg/component/bg.gif/p0f1e800");
			background-repeat: repeat;
			background-position: center;
			background-attachment: scroll;
		
			margin-top: 0px; margin-left: 0px;
			margin-right: 0px;
			font-family: Tahoma, sans-serif;
			font-size: 12px;
			color: #232f6d;
		}
		
		td, tr {
			font-family: Tahoma, sans-serif;
			font-size: 12px;
			color: #232f6d;
			line-height: 22px;
		}
		
		a {
			color: #2d3679;
			text-decoration: none;
		}
		
		a:visited {
			color: #555555;
		}
		
		a:hover { text-decoration: underline;}
		
		.subject { font-weight: bold; }
		.small { margin-top: 3px;}
	
	
		.userTitle {
			font-size: 20px;
			text-weight: bolder;
			line-height: 17px;
		}
		
		.userSubTitle { 
			font-size: 13px;
			color: #000078;
			line-height: 22px;
		}
		
		.header-item {
			padding-left: 15px;
			position: relative;
			top: 5px;
		}
		
		.dkLine { background-color: #666666; }
		.ltLine { background-color: #bbbbbb; }
		.medLine { background-color: #999999; }
		.divLine { background-color: #000000; }
		.tabBg { background-color: #00545c; color: #ffffff;}
		
		.entryDate {
			font-size: 12px;
		}
		
		.entryHolderBg {
			background-color: #ffeddd;
			color: #000000;
			padding-top: 7px;
			padding-right: 7px;
			padding-left: 7px;
			padding-bottom: 7px;
		}
		
		.entry {
			padding-top: 7px;
			padding-right: 7px;
			padding-left: 7px;
			padding-bottom: 7px;
			background-color: #ffffff;
			font-size: 13px;
			color: #000000;
		}
		
		.entryHeader {
			font-size: 13px;
			font-weight: bold;
		}
		
		.entryComments {
			font-size: 12px;
			margin-top: 8px;
			margin-left: 8px;
			color: #232f6d;
		}
		
		.entryDash {
			background-color: #000000;
			width: 100%;
			height: 1px;
		}
		
		.sideHeader {
			font-size: 12px;
			color: #ffffff;
		}
		
		.comp { margin-bottom: 3px; }

		.compBg { background-color: #ffeddd; }

		.compContent {
			padding-left: 6px;
			padding-right: 6px;
			padding-bottom: 6px;
			padding-top: 3px;
			line-height: 18px;
			color: #000000;
		}
		
		.compFont {
			color: #ffeddd;
		}

		.compList {
			line-height: 20px;
			padding-left: 6px;
		}
		
		.userPic { border-color: #8bc4ff; }
		
		.shortLine {
			width: 20px;
			background-color: #ffffff;
			margin-bottom: 1px;
		}
		</style>
		<title>opus_two</title>
	</head>
	<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
		<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
				alt="" border="0" /></div>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
				<!-- USER HEADER -->
				<td valign="top" width="99%">
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><!-- HEADER CONTENT -->
								<div class="userTitle">


									opus_two
<% /!UseJournal %>
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-bottom-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-bottom-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>

					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="4"
							alt="" border="0" /></div>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><!--HERE --><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td></tr>
						<tr>
							<td class="tabBg" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><!-- HEADER CONTENT -->
								<div class="entryDate">
									01/29/2007 11:47:00
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="medLine" colspan="4"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="5"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" class="entryHolderBg">
								<span class='ljuser' style='white-space:nowrap;'>
									<a href='http://www.greatestjournal.com/userinfo.bml?user=luthiekins'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
											style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/luthiekins/'><b>luthiekins</b></a></span>
							</td>
							<td class="entryHolderBg" width="100%" valign="top">
								<table cellspacing="0" cellpadding="0" border="0" width="100%">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"></td>
										<td class="entry">
											<div class="entryHeader">

                                                                                        </div>
											
										</td>
										<td width="1" class="medLine"></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div>
												*sits in her room the rest of the afternoon <a href="http://www.greatestjournal.com/community/opus_two/9956.html?thread=220644#t220644">sulking</a>*<br />
<br />
<small>'m not <i>going</i>.  He can't make me.</small>  *sighs*  <small>Except he totally can.</small><br />
<br />
*wonders how she's going to get out of this*<br />
<br />
*finally decides she's going to have to send a very loud and very clear message*<br />
<br />
*packs some clothes into a small bag*<br />
<br />
*writes a note*  <i>"You wanted me to have freedom and now I have it. Goodbye.  <s>Love,</s> L&uacute;thien"</i><br />
<br />
*slips out of her room and down to the kitchen*<br />
<br />
*gathers up enough food for a few days*<br />
<br />
...<br />
<br />
*goes back upstairs and deposits herself in a guest-bedroom in a rarely used wing of the palace*<br />
<br />
<small>There.</small>  :|
												<p><strong>Current Mood:</strong> 
													pissed off <br />
												   
												   <strong>Tags:</strong> 
													thingol, daeron, luthien <br />
												</p>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
								<div class="entryComments">&nbsp;
								</div>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="5" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="entryHolderBg" width="100%"><b>Comments</b>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					</div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
						alt="" border="0" /></div>

					<a name="t883"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="0" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=sindacollo'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/sindacollo/'><b>sindacollo</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 01/29/2007 13:29:44</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*receives the bad news when your <a href="http://www.greatestjournal.com/community/opus_two/9956.html?thread=224484#t224484">helpful packing helper person</a> fails to turn you up*<br />
<br />
<small>Ohforfuck'ssake.</small><br />
<br />
*sends for Daeron*
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t885"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="25" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=loremaster'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/loremaster/'><b>loremaster</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 01/29/2007 13:31:24</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*is sent for*<br />
<br />
*...shows up!*<br />
<br />
Can I help you, Sir?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t888"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="50" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=sindacollo'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/sindacollo/'><b>sindacollo</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 01/29/2007 13:37:05</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*wordlessly shows you the note*<br />
<br />
Care to go on a little hunt?  *valiantly staves off seventy-five simultaneously-threatening panic attacks*  <small>God this is mildly irritating.</small>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t889"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="75" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=loremaster'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/loremaster/'><b>loremaster</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 01/29/2007 13:39:45</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*reads*<br />
<br />
....*has all seventy-five of those panic attacks for you*  WHATWHEREWHYHOW<S>WHO</S>WHATHAPPENEDWHYWOULDSHEDOTHIS<B>WHEREISSHE</B>.<br />
<br />
*<small>bREatHeS</small>*
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t892"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="100" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=sindacollo'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/sindacollo/'><b>sindacollo</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 01/29/2007 13:46:36</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*slaps you*<br />
<br />
Are you planning on being even remotely useful?!
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t894"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="125" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=loremaster'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/loremaster/'><b>loremaster</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 01/29/2007 13:48:22</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*takes a few deeeeeep breaths*<br />
<br />
Yeeeees.  Yes, Sir, sorry, Sir.  I'll help.  I'll look everywhere.  I won't rest until she's found!<br />
<br />
<br />
<small>You wouldn't happen to have any idea about where to start, would you?</small>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t896"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="150" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=sindacollo'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/sindacollo/'><b>sindacollo</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 01/29/2007 14:02:13</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">That's better.<br />
<br />
*considers*  *helpfully*  Probably not New Gondolin.  For starters.
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t897"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="175" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=loremaster'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/loremaster/'><b>loremaster</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 01/29/2007 14:03:52</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">Riiight.  I'll keep that in mind.  Sir.<br />
<br />
*<s>evilly</s>helpfully*  You've checked with her boyfriend, of course?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t898"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="200" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=sindacollo'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/sindacollo/'><b>sindacollo</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 01/29/2007 14:07:51</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*picks knickknacks off the shelves of L&uacute;thien's curio cabinet and systematically throws them at the wall*  MY *smash!* DAUGHTER *crash!* HAS *shatter!* NO *splodey!* <b>BOYFRIEND!!</b><br />
<br />
...<br />
<br />
<small>I guess I ought to check on that.</small><br />
<br />
*dashes off to the jail*
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t900"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="225" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=loremaster'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/loremaster/'><b>loremaster</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 01/29/2007 14:10:05</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*stands in a wake of Thingol's broken sanity*<br />
<br />
...<br />
<br />
*to himself*  <small>I actually meant that Gil-galad kid.</small><br />
<br />
*shrugs and heads out on a L&uacute;thien Hunt!*
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="entryHolderBg" width="100%"><b> Comments</b>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

				</td>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
				<td valign="top" width="184">
					<table cellspacing="0" cellpadding="0" border="0" width="184">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><div class="sideHeader">
									profile
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="medLine" colspan="4"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="5"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg"><div class="compFont">
									<table cellspacing="0" cellpadding="0" border="0">

										<tr>
											<td colspan="3" class="compContent">

												<div><b>Community:</b>
													<span class='ljuser' style='white-space:nowrap;'>
														<a href='http://www.greatestjournal.com/userinfo.bml?user=opus_two'><img src='http://www.greatestjournal.com/img/community.gif' alt='[info]' width='17' height='17'
																style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/community/opus_two/'><b>opus_two</b></a></span></div>
<% /!UseJournal %>

											</td>
										</tr>
									</table>
								</div>
							</td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="8"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
					</table>
				</td>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
			</tr>
		</table>
	</body>
</html>
