
<!DOCTYPE html 
    	 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style type="text/css">
		body {
			background-color: #264880;
			background-image: url("http://www.greatestjournal.com/palimg/component/bg.gif/p0f1e800");
			background-repeat: repeat;
			background-position: center;
			background-attachment: scroll;
		
			margin-top: 0px; margin-left: 0px;
			margin-right: 0px;
			font-family: Tahoma, sans-serif;
			font-size: 12px;
			color: #232f6d;
		}
		
		td, tr {
			font-family: Tahoma, sans-serif;
			font-size: 12px;
			color: #232f6d;
			line-height: 22px;
		}
		
		a {
			color: #2d3679;
			text-decoration: none;
		}
		
		a:visited {
			color: #555555;
		}
		
		a:hover { text-decoration: underline;}
		
		.subject { font-weight: bold; }
		.small { margin-top: 3px;}
	
	
		.userTitle {
			font-size: 20px;
			text-weight: bolder;
			line-height: 17px;
		}
		
		.userSubTitle { 
			font-size: 13px;
			color: #000078;
			line-height: 22px;
		}
		
		.header-item {
			padding-left: 15px;
			position: relative;
			top: 5px;
		}
		
		.dkLine { background-color: #666666; }
		.ltLine { background-color: #bbbbbb; }
		.medLine { background-color: #999999; }
		.divLine { background-color: #000000; }
		.tabBg { background-color: #00545c; color: #ffffff;}
		
		.entryDate {
			font-size: 12px;
		}
		
		.entryHolderBg {
			background-color: #ffeddd;
			color: #000000;
			padding-top: 7px;
			padding-right: 7px;
			padding-left: 7px;
			padding-bottom: 7px;
		}
		
		.entry {
			padding-top: 7px;
			padding-right: 7px;
			padding-left: 7px;
			padding-bottom: 7px;
			background-color: #ffffff;
			font-size: 13px;
			color: #000000;
		}
		
		.entryHeader {
			font-size: 13px;
			font-weight: bold;
		}
		
		.entryComments {
			font-size: 12px;
			margin-top: 8px;
			margin-left: 8px;
			color: #232f6d;
		}
		
		.entryDash {
			background-color: #000000;
			width: 100%;
			height: 1px;
		}
		
		.sideHeader {
			font-size: 12px;
			color: #ffffff;
		}
		
		.comp { margin-bottom: 3px; }

		.compBg { background-color: #ffeddd; }

		.compContent {
			padding-left: 6px;
			padding-right: 6px;
			padding-bottom: 6px;
			padding-top: 3px;
			line-height: 18px;
			color: #000000;
		}
		
		.compFont {
			color: #ffeddd;
		}

		.compList {
			line-height: 20px;
			padding-left: 6px;
		}
		
		.userPic { border-color: #8bc4ff; }
		
		.shortLine {
			width: 20px;
			background-color: #ffffff;
			margin-bottom: 1px;
		}
		</style>
		<title>opus_two</title>
	</head>
	<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
		<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
				alt="" border="0" /></div>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
				<!-- USER HEADER -->
				<td valign="top" width="99%">
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><!-- HEADER CONTENT -->
								<div class="userTitle">


									opus_two
<% /!UseJournal %>
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-bottom-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-bottom-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>

					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="4"
							alt="" border="0" /></div>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><!--HERE --><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td></tr>
						<tr>
							<td class="tabBg" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><!-- HEADER CONTENT -->
								<div class="entryDate">
									09/16/2007 13:00:00
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="medLine" colspan="4"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="5"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" class="entryHolderBg">
								<span class='ljuser' style='white-space:nowrap;'>
									<a href='http://www.greatestjournal.com/userinfo.bml?user=manawenuz'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
											style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/manawenuz/'><b>manawenuz</b></a></span>
							</td>
							<td class="entryHolderBg" width="100%" valign="top">
								<table cellspacing="0" cellpadding="0" border="0" width="100%">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"></td>
										<td class="entry">
											<div class="entryHeader">

                                                                                        </div>
											
										</td>
										<td width="1" class="medLine"></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div>
												*Waits in the conference room while the others leave after the AGM.*<br />
<br />
*Indicates for Varda to stay.*<br />
<br />
*Beckons Vana over.*<br />
<br />
What you were saying about a tracking device. Is that really practicable or was that just conjecture?
												<p><strong>Current Mood:</strong> 
													pensive <br />
												   
												   <strong>Tags:</strong> 
													manwe, vana, varda <br />
												</p>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
								<div class="entryComments">&nbsp;
								</div>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="5" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="entryHolderBg" width="100%"><b>Comments</b>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					</div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
						alt="" border="0" /></div>

					<a name="t12662"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="0" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=fanuilos'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/fanuilos/'><b>fanuilos</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 09/16/2007 09:38:11</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*gets up to pour out three cups of coffee <small>although she could really do with something stronger at this point in time</small>*<br />
<br />
*looks at you curiously, fairly certain she knows where you're going with this* 
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t12666"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="0" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=tuivana'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/tuivana/'><b>tuivana</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 09/16/2007 16:02:43</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*cocks her head as if thinking about something*  Oh, it's a very real option.  I've got one or two prototypes in my workshop that would put the pieces on the kindreds' market to shame.  Data transmittable via compound satellite signal over my personal encrypted network.  Virtually undetectable by the subject.  *unconcernedly*  But I understand there may be privacy issues?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t12675"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="25" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=fanuilos'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/fanuilos/'><b>fanuilos</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 09/16/2007 17:37:51</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*seriously* In this instance, Vána, we are prepared to overlook such -- mortal -- considerations as privacy. <br />
<br />
Now, when you say "virtually" undetectable -- would an Ainu notice it? If it were possible to plant it on said Vala without it being detected in the first place?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t12677"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="50" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=tuivana'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/tuivana/'><b>tuivana</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 09/16/2007 17:49:00</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><i>would an Ainu notice it?</i><br />
<br />
*frowns*  If he or she was looking for it, yes.  I'd imagine so.  What did you have in mind, Varda?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t12678"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="75" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=manawenuz'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/manawenuz/'><b>manawenuz</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 09/16/2007 17:51:34</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*Bluntly* Could you bug T&uacute;rin without his knowledge? Is that feasible?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t12681"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="100" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=tuivana'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/tuivana/'><b>tuivana</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 09/16/2007 18:00:19</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*crosses her arms and rubs her chin*  *after a short silence*  Yes.  <s>Probably.</s>  But why?  <small>He <i>did</i> seem a bit <s>surly</s> bored but if people would take the time to spruce up their presentations a little...and I'm not talking about slide transitions, for Dad's sake.  Those things just <b>scream</b> "I'm an inexperienced end user."</small>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t12685"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="125" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=manawenuz'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/manawenuz/'><b>manawenuz</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 09/16/2007 18:12:21</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><small>Never mind why, hopefully it's nothing. I just need to be sure.</small><br />
<br />
<I>I'm not talking about slide transitions, for Dad's sake. Those things just scream "I'm an inexperienced end user."</i><br />
<br />
*Stares at you blankly* <br />
<br />
Can we focus, please?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t12687"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="150" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=tuivana'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/tuivana/'><b>tuivana</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 09/16/2007 18:18:27</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><i>Can we focus, please?</i><br />
<br />
*wonders if you've heard of parallel processing*  <small>*...never mind*</small><br />
<br />
*mildly*  Tracker.  T&uacute;rin.  Soon as you like, Mânawenûz.  *looks at Varda for confirmation*  I'll program the transponder to write directly to file and give you access?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t12692"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="175" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=fanuilos'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/fanuilos/'><b>fanuilos</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 09/16/2007 19:08:24</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*nods briefly* That would be ideal, Vána. *smiles* If anyone can pull this off, it's you.
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t12695"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="200" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=tuivana'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/tuivana/'><b>tuivana</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 09/16/2007 22:19:54</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*smiles too*  It shouldn't be very difficult.  I just have to think of something he's likely to have wherever&mdash;<br />
<br />
*snaps her fingers*  Keys.  Those quaint objects mortals use to gain or prohibit entry to things?  I'm sure he must have some.  *amusedly*  He was rather nostalgic about mortality the last time we chatted.
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="entryHolderBg" width="100%"><b> Comments</b>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

				</td>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
				<td valign="top" width="184">
					<table cellspacing="0" cellpadding="0" border="0" width="184">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><div class="sideHeader">
									profile
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="medLine" colspan="4"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="5"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg"><div class="compFont">
									<table cellspacing="0" cellpadding="0" border="0">

										<tr>
											<td colspan="3" class="compContent">

												<div><b>Community:</b>
													<span class='ljuser' style='white-space:nowrap;'>
														<a href='http://www.greatestjournal.com/userinfo.bml?user=opus_two'><img src='http://www.greatestjournal.com/img/community.gif' alt='[info]' width='17' height='17'
																style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/community/opus_two/'><b>opus_two</b></a></span></div>
<% /!UseJournal %>

											</td>
										</tr>
									</table>
								</div>
							</td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="8"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
					</table>
				</td>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
			</tr>
		</table>
	</body>
</html>
