
<!DOCTYPE html 
    	 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style type="text/css">
		body {
			background-color: #264880;
			background-image: url("http://www.greatestjournal.com/palimg/component/bg.gif/p0f1e800");
			background-repeat: repeat;
			background-position: center;
			background-attachment: scroll;
		
			margin-top: 0px; margin-left: 0px;
			margin-right: 0px;
			font-family: Tahoma, sans-serif;
			font-size: 12px;
			color: #232f6d;
		}
		
		td, tr {
			font-family: Tahoma, sans-serif;
			font-size: 12px;
			color: #232f6d;
			line-height: 22px;
		}
		
		a {
			color: #2d3679;
			text-decoration: none;
		}
		
		a:visited {
			color: #555555;
		}
		
		a:hover { text-decoration: underline;}
		
		.subject { font-weight: bold; }
		.small { margin-top: 3px;}
	
	
		.userTitle {
			font-size: 20px;
			text-weight: bolder;
			line-height: 17px;
		}
		
		.userSubTitle { 
			font-size: 13px;
			color: #000078;
			line-height: 22px;
		}
		
		.header-item {
			padding-left: 15px;
			position: relative;
			top: 5px;
		}
		
		.dkLine { background-color: #666666; }
		.ltLine { background-color: #bbbbbb; }
		.medLine { background-color: #999999; }
		.divLine { background-color: #000000; }
		.tabBg { background-color: #00545c; color: #ffffff;}
		
		.entryDate {
			font-size: 12px;
		}
		
		.entryHolderBg {
			background-color: #ffeddd;
			color: #000000;
			padding-top: 7px;
			padding-right: 7px;
			padding-left: 7px;
			padding-bottom: 7px;
		}
		
		.entry {
			padding-top: 7px;
			padding-right: 7px;
			padding-left: 7px;
			padding-bottom: 7px;
			background-color: #ffffff;
			font-size: 13px;
			color: #000000;
		}
		
		.entryHeader {
			font-size: 13px;
			font-weight: bold;
		}
		
		.entryComments {
			font-size: 12px;
			margin-top: 8px;
			margin-left: 8px;
			color: #232f6d;
		}
		
		.entryDash {
			background-color: #000000;
			width: 100%;
			height: 1px;
		}
		
		.sideHeader {
			font-size: 12px;
			color: #ffffff;
		}
		
		.comp { margin-bottom: 3px; }

		.compBg { background-color: #ffeddd; }

		.compContent {
			padding-left: 6px;
			padding-right: 6px;
			padding-bottom: 6px;
			padding-top: 3px;
			line-height: 18px;
			color: #000000;
		}
		
		.compFont {
			color: #ffeddd;
		}

		.compList {
			line-height: 20px;
			padding-left: 6px;
		}
		
		.userPic { border-color: #8bc4ff; }
		
		.shortLine {
			width: 20px;
			background-color: #ffffff;
			margin-bottom: 1px;
		}
		</style>
		<title>opus_two</title>
	</head>
	<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
		<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
				alt="" border="0" /></div>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
				<!-- USER HEADER -->
				<td valign="top" width="99%">
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><!-- HEADER CONTENT -->
								<div class="userTitle">


									opus_two
<% /!UseJournal %>
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-bottom-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-bottom-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>

					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="4"
							alt="" border="0" /></div>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><!--HERE --><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td></tr>
						<tr>
							<td class="tabBg" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><!-- HEADER CONTENT -->
								<div class="entryDate">
									07/02/2007 21:22:00
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="medLine" colspan="4"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="5"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" class="entryHolderBg">
								<span class='ljuser' style='white-space:nowrap;'>
									<a href='http://www.greatestjournal.com/userinfo.bml?user=manawenuz'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
											style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/manawenuz/'><b>manawenuz</b></a></span>
							</td>
							<td class="entryHolderBg" width="100%" valign="top">
								<table cellspacing="0" cellpadding="0" border="0" width="100%">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"></td>
										<td class="entry">
											<div class="entryHeader">

                                                                                        </div>
											
										</td>
										<td width="1" class="medLine"></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div>
												*Decides to upload a review of the latest episode of Healer Who to his myspace but finds that his laptop simply will NOT boot up.*<br />
<br />
*Goes through the appropriate ritual for the technologically frustrated; presses random buttons in the hope that <i>something</i> will happen, restarts, unplugs, restarts again, starts swearing under his breath and eventually starts swearing loudly and becomes gripped by the urge to throw the infernal thing out the window.*<br />
<br />
<small>*Wonders if Varda took a screwdriver to its innards while he was asleep.*</small> ¬_¬<br />
<br />
*Decides to make an effort and use his new-found spare time to <a href="http://www.greatestjournal.com/community/opus_two/75641.html?thread=2247545#t2247545">take an interest in <b>his</b> company</a>, so starts reading the financial pages.*<br />
<br />
*Is quite sure it'll all turn out to be fascinating once he gets into it.*<br />
<br />
::TEN MINUTES LATER.::<br />
<br />
<small>Please Eru, kill me now...</small>
												<p><strong>Current Mood:</strong> 
													cranky <br />
												   
												   <strong>Tags:</strong> 
													eru, manwe <br />
												</p>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
								<div class="entryComments">&nbsp;
								</div>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="5" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="entryHolderBg" width="100%"><b>Comments</b>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					</div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
						alt="" border="0" /></div>

					<a name="t9015"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="0" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=ohyoureru'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/ohyoureru/'><b>ohyoureru</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/02/2007 16:51:26</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><i><b>Please Eru, kill me now...</b><br />
<br />
It doesn't really work that way, you know.</i>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9017"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="25" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=manawenuz'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/manawenuz/'><b>manawenuz</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/02/2007 16:56:46</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><i>I know but can you blame a Vala for trying? I mean, have you ever <b>read</b> this stuff? It's in another language. I thought I was pretty good with languages but this is just ridiculous. I mean, what the hell is a NASDAQ?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9019"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="50" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=ohyoureru'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/ohyoureru/'><b>ohyoureru</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/02/2007 17:02:39</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><i>It's all tied in with idol-worship somehow.  Don't worry about it.  Try getting a hobby, son.  Barbecue with the colleagues or—oh!  Have you tried shuffleboard??</i>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9020"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="75" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=manawenuz'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/manawenuz/'><b>manawenuz</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/02/2007 17:09:57</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><i>Shuffleboard? Isn't that like bowls only less exciting?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9021"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="100" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=ohyoureru'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/ohyoureru/'><b>ohyoureru</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/02/2007 17:15:56</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><i>No.  No, it isn't.  Clearly you've never experienced the high drama of a dead heat going into the tenth frame.<br />
<br />
...<br />
<br />
Don't you almost-roll your eyes at me.</i>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9023"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="125" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=manawenuz'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/manawenuz/'><b>manawenuz</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/02/2007 17:20:45</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><I>And you have? Who do you play shuffleboard with?<br />
<br />
Sorry. The almost-eyeroll is a near perpetual state for me these days, it's nothing personal.
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9025"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="150" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=ohyoureru'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/ohyoureru/'><b>ohyoureru</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/02/2007 17:26:18</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><i>Hank the Wino was a big shuffleboard buff back in his prep school days.  I posed as a foreign exchange student and took him on once or twice.  His nickname was Hank the Crank.  <small>That wasn't shuffleboard-related actually.</small><br />
<br />
<b>the almost-eyeroll is a near perpetual state for me these days</b><br />
<br />
And how is dear Varda, by the way?</i>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9027"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="175" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=manawenuz'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/manawenuz/'><b>manawenuz</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/02/2007 17:43:26</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><i>Did you win?<br />
<br />
<b>And how is dear Varda, by the way?</b><br />
<br />
Driven.
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9028"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="200" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=ohyoureru'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/ohyoureru/'><b>ohyoureru</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/02/2007 18:00:09</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><i>In the Cup final?  Vanquished in that gripping tenth frame, I'm afraid.  I spent so many nanoseconds forming just the right body so as not to give myself an advantage.  I'm afraid people were actually placing bets on us.  <small>I'm not proud of it.</small></i><br />
<br />
*lightly*  <i>You'll remember that even Valar receive <a href="http://www.greatestjournal.com/community/opus_two_ooc/7721.html?thread=148265#t148265">performance evalauations</a>, of course?  Like I always say, "the extra 'A' is for 'achievement'!"  Meaning that I'd like you to attain one.  Even if it's only sniping less.</i>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9030"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="225" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=manawenuz'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/manawenuz/'><b>manawenuz</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/02/2007 18:28:34</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><I><b>Even if it's only sniping less.</b></I><br />
<br />
*Figures that at least that's a goal...of sorts.*<br />
<br />
<i>Yes sir. I'll do my best.
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9033"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="250" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=ohyoureru'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/ohyoureru/'><b>ohyoureru</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/02/2007 19:31:14</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*mental!smile*  <i>I know you will, child.  And get out of the apartment once in a while, for my sake!  Television really <b>will</b> rot your brain and then you'll have to make a brand-new one and so on.</i>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="entryHolderBg" width="100%"><b> Comments</b>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

				</td>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
				<td valign="top" width="184">
					<table cellspacing="0" cellpadding="0" border="0" width="184">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><div class="sideHeader">
									profile
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="medLine" colspan="4"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="5"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg"><div class="compFont">
									<table cellspacing="0" cellpadding="0" border="0">

										<tr>
											<td colspan="3" class="compContent">

												<div><b>Community:</b>
													<span class='ljuser' style='white-space:nowrap;'>
														<a href='http://www.greatestjournal.com/userinfo.bml?user=opus_two'><img src='http://www.greatestjournal.com/img/community.gif' alt='[info]' width='17' height='17'
																style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/community/opus_two/'><b>opus_two</b></a></span></div>
<% /!UseJournal %>

											</td>
										</tr>
									</table>
								</div>
							</td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="8"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
					</table>
				</td>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
			</tr>
		</table>
	</body>
</html>
