
<!DOCTYPE html 
    	 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style type="text/css">
		body {
			background-color: #264880;
			background-image: url("http://www.greatestjournal.com/palimg/component/bg.gif/p0f1e800");
			background-repeat: repeat;
			background-position: center;
			background-attachment: scroll;
		
			margin-top: 0px; margin-left: 0px;
			margin-right: 0px;
			font-family: Tahoma, sans-serif;
			font-size: 12px;
			color: #232f6d;
		}
		
		td, tr {
			font-family: Tahoma, sans-serif;
			font-size: 12px;
			color: #232f6d;
			line-height: 22px;
		}
		
		a {
			color: #2d3679;
			text-decoration: none;
		}
		
		a:visited {
			color: #555555;
		}
		
		a:hover { text-decoration: underline;}
		
		.subject { font-weight: bold; }
		.small { margin-top: 3px;}
	
	
		.userTitle {
			font-size: 20px;
			text-weight: bolder;
			line-height: 17px;
		}
		
		.userSubTitle { 
			font-size: 13px;
			color: #000078;
			line-height: 22px;
		}
		
		.header-item {
			padding-left: 15px;
			position: relative;
			top: 5px;
		}
		
		.dkLine { background-color: #666666; }
		.ltLine { background-color: #bbbbbb; }
		.medLine { background-color: #999999; }
		.divLine { background-color: #000000; }
		.tabBg { background-color: #00545c; color: #ffffff;}
		
		.entryDate {
			font-size: 12px;
		}
		
		.entryHolderBg {
			background-color: #ffeddd;
			color: #000000;
			padding-top: 7px;
			padding-right: 7px;
			padding-left: 7px;
			padding-bottom: 7px;
		}
		
		.entry {
			padding-top: 7px;
			padding-right: 7px;
			padding-left: 7px;
			padding-bottom: 7px;
			background-color: #ffffff;
			font-size: 13px;
			color: #000000;
		}
		
		.entryHeader {
			font-size: 13px;
			font-weight: bold;
		}
		
		.entryComments {
			font-size: 12px;
			margin-top: 8px;
			margin-left: 8px;
			color: #232f6d;
		}
		
		.entryDash {
			background-color: #000000;
			width: 100%;
			height: 1px;
		}
		
		.sideHeader {
			font-size: 12px;
			color: #ffffff;
		}
		
		.comp { margin-bottom: 3px; }

		.compBg { background-color: #ffeddd; }

		.compContent {
			padding-left: 6px;
			padding-right: 6px;
			padding-bottom: 6px;
			padding-top: 3px;
			line-height: 18px;
			color: #000000;
		}
		
		.compFont {
			color: #ffeddd;
		}

		.compList {
			line-height: 20px;
			padding-left: 6px;
		}
		
		.userPic { border-color: #8bc4ff; }
		
		.shortLine {
			width: 20px;
			background-color: #ffffff;
			margin-bottom: 1px;
		}
		</style>
		<title>opus_two</title>
	</head>
	<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
		<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
				alt="" border="0" /></div>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
				<!-- USER HEADER -->
				<td valign="top" width="99%">
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><!-- HEADER CONTENT -->
								<div class="userTitle">


									opus_two
<% /!UseJournal %>
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-bottom-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-bottom-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>

					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="4"
							alt="" border="0" /></div>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><!--HERE --><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td></tr>
						<tr>
							<td class="tabBg" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><!-- HEADER CONTENT -->
								<div class="entryDate">
									07/29/2007 21:59:00
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="medLine" colspan="4"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="5"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" class="entryHolderBg">
								<span class='ljuser' style='white-space:nowrap;'>
									<a href='http://www.greatestjournal.com/userinfo.bml?user=irisse'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
											style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/irisse/'><b>irisse</b></a></span>
							</td>
							<td class="entryHolderBg" width="100%" valign="top">
								<table cellspacing="0" cellpadding="0" border="0" width="100%">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"></td>
										<td class="entry">
											<div class="entryHeader">

                                                                                        </div>
											
										</td>
										<td width="1" class="medLine"></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div>
												*is finally satisfied with her hair and wardrobe* <small>*ie: looks pretty ravishing*</small><br />
<br />
*hears that the favourite <a href=http://www.greatestjournal.com/community/opus_two/82393.html>won the Grand Prix</a>*<br />
<br />
*goes out to the podium to present the trophy to the winner*
												<p>
												   
												   <strong>Tags:</strong> 
													tilion, aredhel <br />
												</p>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
								<div class="entryComments">&nbsp;
								</div>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="5" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="entryHolderBg" width="100%"><b>Comments</b>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					</div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
						alt="" border="0" /></div>

					<a name="t9560"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="0" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=ilinsor'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/ilinsor/'><b>ilinsor</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/29/2007 21:29:07</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*scopes out the crowd for his escape route even as he goes to be the center of attention*<br />
<br />
*doesn't really look at you until he's actually accepting the trophy from your hands*<br />
<br />
*...*  <small>*feels his heart skip a beat*</small>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9642"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="25" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=irisse'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/irisse/'><b>irisse</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/30/2007 19:21:29</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*smiles brightly at you* Congratulations. *hands you the cup* So. You're the one who doesn't take off his helmet. *lightly* Shame, that.  You'll have terrible helmet hair at the end of it all. *smiles and waves at the cameras* I think we're done here?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9646"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="50" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=ilinsor'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/ilinsor/'><b>ilinsor</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/30/2007 19:42:50</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*captivated*  For once I find myself tempted to take that particular piece of advice, Lady...?<br />
<br />
*presses your hand with his, still drinking in the sight of you*
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9647"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="75" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=irisse'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/irisse/'><b>irisse</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/30/2007 19:46:20</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*arches an eyebrow* Do not get our hopes up, please. I'm not sure our hearts could take it. *squeezes your hand gently, still smiling at the cameras* Írissë is my name, sometimes Ar-Feiniel, usually of Hísilómë. <br />
<br />
And your name is a mystery, is it not?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9649"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="100" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=ilinsor'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/ilinsor/'><b>ilinsor</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/30/2007 19:54:03</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*pushes his helmet up a few inches, just far enough to raise your hand to his lips*<br />
<br />
*settling his helmet once more*  No fair asking the leading questions while my guard's down, my lady.  I may just answer to whatever strikes your fancy.<br />
<br />
*steps down off the platform and lifts his arms to help you*
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9651"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="125" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=irisse'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/irisse/'><b>irisse</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/30/2007 20:01:43</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*delicately allows you to help her down, gifting you with another smile* Ah, men say that in the beginning but the guard is never down for long, is it?<br />
<br />

											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9653"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="150" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=ilinsor'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/ilinsor/'><b>ilinsor</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/30/2007 20:14:03</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*can't help laughing*  Is <i>that</i> the secret to keeping my heart intact, then?  Mine keeps making its way to my sleeve somehow.  Very inconvenient.<br />
<br />
*feels a mad urge to tell you something about the real him before remembering that it won't do to flirt in this incarnation*  *despite himself*  I can't recall any of my wins on this track being <i>quite</i> this enjoyable, &Iacute;riss&euml;.  I should thank you.
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9720"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="175" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=irisse'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/irisse/'><b>irisse</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/31/2007 14:52:47</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">Well, I do aim to please. Given the number of wins my son informs me that you have, I feel most honoured. 
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9725"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="200" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=ilinsor'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/ilinsor/'><b>ilinsor</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/31/2007 15:01:38</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">Your son informs you?  *after a split-second's hesitation*  Perhaps if you'll meet me for a drink sometime you can explain why you're not my biggest fan?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9727"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="225" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=irisse'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/irisse/'><b>irisse</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/31/2007 15:10:11</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">I shall hold you to that, you know. *steps away from you towards the crowds* I shall be in the Royal Duck at nine o'clock tonight.
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t9734"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="250" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=ilinsor'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/ilinsor/'><b>ilinsor</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 07/31/2007 15:23:19</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">And now to wash off the day.  *nods and waves to you slightly as he moves in the opposite direction with security to avoid being mobbed*  My lady.<br />
<br />
<br />
<br />
<small>*...has no clue what he's going to do about this*</small>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="entryHolderBg" width="100%"><b> Comments</b>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

				</td>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
				<td valign="top" width="184">
					<table cellspacing="0" cellpadding="0" border="0" width="184">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><div class="sideHeader">
									profile
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="medLine" colspan="4"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="5"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg"><div class="compFont">
									<table cellspacing="0" cellpadding="0" border="0">

										<tr>
											<td colspan="3" class="compContent">

												<div><b>Community:</b>
													<span class='ljuser' style='white-space:nowrap;'>
														<a href='http://www.greatestjournal.com/userinfo.bml?user=opus_two'><img src='http://www.greatestjournal.com/img/community.gif' alt='[info]' width='17' height='17'
																style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/community/opus_two/'><b>opus_two</b></a></span></div>
<% /!UseJournal %>

											</td>
										</tr>
									</table>
								</div>
							</td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="8"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
					</table>
				</td>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
			</tr>
		</table>
	</body>
</html>
