
<!DOCTYPE html 
    	 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style type="text/css">
		body {
			background-color: #264880;
			background-image: url("http://www.greatestjournal.com/palimg/component/bg.gif/p0f1e800");
			background-repeat: repeat;
			background-position: center;
			background-attachment: scroll;
		
			margin-top: 0px; margin-left: 0px;
			margin-right: 0px;
			font-family: Tahoma, sans-serif;
			font-size: 12px;
			color: #232f6d;
		}
		
		td, tr {
			font-family: Tahoma, sans-serif;
			font-size: 12px;
			color: #232f6d;
			line-height: 22px;
		}
		
		a {
			color: #2d3679;
			text-decoration: none;
		}
		
		a:visited {
			color: #555555;
		}
		
		a:hover { text-decoration: underline;}
		
		.subject { font-weight: bold; }
		.small { margin-top: 3px;}
	
	
		.userTitle {
			font-size: 20px;
			text-weight: bolder;
			line-height: 17px;
		}
		
		.userSubTitle { 
			font-size: 13px;
			color: #000078;
			line-height: 22px;
		}
		
		.header-item {
			padding-left: 15px;
			position: relative;
			top: 5px;
		}
		
		.dkLine { background-color: #666666; }
		.ltLine { background-color: #bbbbbb; }
		.medLine { background-color: #999999; }
		.divLine { background-color: #000000; }
		.tabBg { background-color: #00545c; color: #ffffff;}
		
		.entryDate {
			font-size: 12px;
		}
		
		.entryHolderBg {
			background-color: #ffeddd;
			color: #000000;
			padding-top: 7px;
			padding-right: 7px;
			padding-left: 7px;
			padding-bottom: 7px;
		}
		
		.entry {
			padding-top: 7px;
			padding-right: 7px;
			padding-left: 7px;
			padding-bottom: 7px;
			background-color: #ffffff;
			font-size: 13px;
			color: #000000;
		}
		
		.entryHeader {
			font-size: 13px;
			font-weight: bold;
		}
		
		.entryComments {
			font-size: 12px;
			margin-top: 8px;
			margin-left: 8px;
			color: #232f6d;
		}
		
		.entryDash {
			background-color: #000000;
			width: 100%;
			height: 1px;
		}
		
		.sideHeader {
			font-size: 12px;
			color: #ffffff;
		}
		
		.comp { margin-bottom: 3px; }

		.compBg { background-color: #ffeddd; }

		.compContent {
			padding-left: 6px;
			padding-right: 6px;
			padding-bottom: 6px;
			padding-top: 3px;
			line-height: 18px;
			color: #000000;
		}
		
		.compFont {
			color: #ffeddd;
		}

		.compList {
			line-height: 20px;
			padding-left: 6px;
		}
		
		.userPic { border-color: #8bc4ff; }
		
		.shortLine {
			width: 20px;
			background-color: #ffffff;
			margin-bottom: 1px;
		}
		</style>
		<title>opus_two</title>
	</head>
	<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
		<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
				alt="" border="0" /></div>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
				<!-- USER HEADER -->
				<td valign="top" width="99%">
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><!-- HEADER CONTENT -->
								<div class="userTitle">


									opus_two
<% /!UseJournal %>
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-bottom-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-bottom-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>

					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="4"
							alt="" border="0" /></div>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><!--HERE --><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td></tr>
						<tr>
							<td class="tabBg" colspan="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><!-- HEADER CONTENT -->
								<div class="entryDate">
									10/01/2007 10:59:00
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="medLine" colspan="4"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="5"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" class="entryHolderBg">
								<span class='ljuser' style='white-space:nowrap;'>
									<a href='http://www.greatestjournal.com/userinfo.bml?user=aerwen'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
											style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/aerwen/'><b>aerwen</b></a></span>
							</td>
							<td class="entryHolderBg" width="100%" valign="top">
								<table cellspacing="0" cellpadding="0" border="0" width="100%">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"></td>
										<td class="entry">
											<div class="entryHeader">

                                                                                        </div>
											
										</td>
										<td width="1" class="medLine"></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div>
												*wanders a little aimlessly from one B&B to another, up from Vinyamar to Doriath, scouting for inspiration*<br />
<br />
<small>*mostly, inspiration for her next story, but will take any kind of inspiration, really*</small><br />
<br />
*checks out of her most recent stay and goes down to the convenience store on the main road* *buys a diet coke and a pack of mallomars before going to look for train & bus schedules*<br />
<br />
*at the checkout, catches a headline about a <a href="http://www.greatestjournal.com/community/opus_two/112488.html">trailer park fire</a>* <small>o_0</small><br />
<br />
*knows if anything bad really had happened, Findek&aacute;no would have called, surely*<br />
<br />
*phones him just to make sure, wincing while she dials*
												<p><strong>Current Mood:</strong> 
													worried <br />
												   
												   <strong>Tags:</strong> 
													anaire, fingon <br />
												</p>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
								<div class="entryComments">&nbsp;
								</div>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="5" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="entryHolderBg" width="100%"><b>Comments</b>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					</div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
						alt="" border="0" /></div>

					<a name="t13307"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="0" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=skilledhero'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/skilledhero/'><b>skilledhero</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 10/02/2007 11:14:32</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*picks up the phone without looking at the caller ID <small>with a glass of brandy in his hand as he recovers from his father's <s>presence</s> visit</small>*<br />
<br />
Findekáno.
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t13308"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="25" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=aerwen'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/aerwen/'><b>aerwen</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 10/02/2007 11:22:01</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*sits down on a bench and arranges her rolly-suitcase while it rings*<br />
<br />
*with sudden brightness, focusing back on the call* <br />
<br />
Fingon? It's Nana, honey, how are you doing?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t13337"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="50" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=skilledhero'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/skilledhero/'><b>skilledhero</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 10/04/2007 13:53:26</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*smiles when he hears your voice* Hi, Nana, how are you? <s>You're not ringing to arrange collection of Dad, are you?
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t13339"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="75" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=aerwen'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/aerwen/'><b>aerwen</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 10/04/2007 18:05:37</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*as she spreads the paper out over her knees* Oh good, I'm good, I'm coming up on through Doriath again? You're doing okay? <s>Do I need to bring some pencils?</s><br />
<br />
*every sentence ending with the rising tone of a question* Except there was this headline from yesterday <small>about a fire in the trailer park</small> and did you see that? *mildly braces herself for your response*
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t13340"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="100" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=skilledhero'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/skilledhero/'><b>skilledhero</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 10/04/2007 18:20:48</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">Well, Fëanorian diplomatic crises aside, I'm doing OK. <s>The HBs aren't doing quite as well.</s><br />
<br />
*puts his hand over his eyes* Yes. I saw. I heard a first-hand account too. I think my father has learned why one shouldn't fall asleep with a lit cigarette. *sighs softly* 
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t13342"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="125" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=aerwen'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/aerwen/'><b>aerwen</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 10/04/2007 18:26:18</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*is terrible about keeping up with politics* You mean everything in Delving? Oh <i>no</i>. <small>You can handle it, honey, you were always so very good at all of that.</small> <s>I don't know where you got it from.</s><br />
<br />
*apologetically, but relieved, cringing into the phone* <small>I'm sorry, he just doesn't know any better.</small> He came to stay? <small>Do you need anything?</small>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t13347"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="150" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=skilledhero'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/skilledhero/'><b>skilledhero</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 10/06/2007 06:34:34</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000">*tries his best to sound calm* Yes, he came to stay. I suspect he's installing himself by the pool as we speak. <br />
<br />
*pauses significantly* You know you're welcome to visit any time, don't you, Nana? Írissë had a wing kitted out especially for you for that purpose.
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<a name="t13349"></a>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table1">
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="175" height="1"></td>
							<td width="100%">
								<table cellspacing="0" cellpadding="0" border="0" width="100%" ID="Table2">
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="entry">
											<div style="background-color: #84b5d2; color: #232f6d; margin-top: 10px;">
												<table cellpadding="2" cellspacing="0" summary="0" width="100%" bgcolor="#a7c7e8" ID="Table3">
													<tr valign="top">
														<td rowspan="2" align="center"></td>
														<td align="left" style="white-space: nowrap"><strong>From:</strong>

															<span class='ljuser' style='white-space:nowrap;'>
																<a href='http://www.greatestjournal.com/userinfo.bml?user=aerwen'><img src='http://www.greatestjournal.com/img/userinfo.gif' alt='[info]' width='17' height='17'
																		style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/users/aerwen/'><b>aerwen</b></a></span>


														</td>
														<td align="left" style="white-space: nowrap"><strong>Date:</strong> 10/06/2007 08:42:35</td>
														<td style='text-align: center;'>
														<td align="right">&nbsp;</strong></td>
													</tr>
													<tr valign="top">
														<td colspan="7" style="width: 95%"><p class="subject"> </p></td>
													</tr>
												</table>
											</div>
											<div style="margin-left: 5px" style="color: #000000"><small><i>Oh.</i> Oh. Um. He likes deck chairs a lot <s>and cute servers</s>.</small><br />
<br />
*smiles* Oh Findek&aacute;no, you're very good to me. I'm always just a hanger-on there, you two have so much going on. Is Kani back at uni? She's set for tuition <small>and school clothes?</small> *just had a pretty good bonus from her last series of shorts in the <i>Free Press</i>.<br />
<br />
<br />
*toes some of the gravel on the ground*<br />
<br />
<br />
<small>I can come and get him set up for suits again he'll need them if all his stuff burned. :\</small>
											</div>
										</td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
									<tr>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
										<td width="1" class="medLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
												alt="" border="0" /></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="entryHolderBg" width="100%"><b> Comments</b>
							</td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td colspan="3" class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
					</table>
					<div><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
							alt="" border="0" /></div>

				</td>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
				<td valign="top" width="184">
					<table cellspacing="0" cellpadding="0" border="0" width="184">
						<tr>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-left.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
							<td class="dkLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td valign="top" rowspan="3" colspan="3" width="5"><img src="http://www.greatestjournal.com/palimg/component/curve-top-right.gif/p0bbbbbb1666666200545c"
									width="5" height="5" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="ltLine"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="tabBg"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="tabBg" width="100%"><div class="sideHeader">
									profile
								</div>
							</td>
							<td class="tabBg" width="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="ltLine" width="1" rowspan="2"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="dkLine" width="1" rowspan="3"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="medLine" colspan="4"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="5"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg"><div class="compFont">
									<table cellspacing="0" cellpadding="0" border="0">

										<tr>
											<td colspan="3" class="compContent">

												<div><b>Community:</b>
													<span class='ljuser' style='white-space:nowrap;'>
														<a href='http://www.greatestjournal.com/userinfo.bml?user=opus_two'><img src='http://www.greatestjournal.com/img/community.gif' alt='[info]' width='17' height='17'
																style='vertical-align:bottom;border:0;' /></a><a href='http://www.greatestjournal.com/community/opus_two/'><b>opus_two</b></a></span></div>
<% /!UseJournal %>

											</td>
										</tr>
									</table>
								</div>
							</td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="compBg" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
							<td class="dkLine" width="1"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="dkLine" colspan="8"><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="1"
									alt="" border="0" /></td>
						</tr>
						<tr>
							<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="1" height="3"
									alt="" border="0" /></td>
						</tr>
					</table>
				</td>
				<td><img src="http://www.greatestjournal.com/palimg/component/clear.gif" width="3" height="1"
						alt="" border="0" /></td>
			</tr>
		</table>
	</body>
</html>
